braiins-manager-agent/rootfs/etc/braiins-manager-agent/daemon.yaml
test-addon.sh
test-data/options.json

# Binary files - these should be downloaded from downloads.braiins.com
braiins-manager-agent/bma-*-*
